* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-extra {
  height: 100vh;
  position: fixed;
}

/* BEFORE PLAYING GAME */

.game-style {
  position: absolute;
  top: 10%;
  left: 28%;
  height: 80%;
  width: 30%;
  padding: 80px 120px;
  border: 0.5rem solid #000;
  border-radius: 6%;
  background: rgb(217, 146, 190);
  background: linear-gradient(
    0deg,
    rgba(217, 146, 190, 1) 0%,
    rgba(222, 85, 132, 1) 100%
  );
  /* background: rgb(222,85,132);
    background: linear-gradient(0deg, rgba(222,85,132,1) 0%, rgba(217,146,190,1) 100%); */
  filter: drop-shadow(0 0 0.75rem #fff);
}

.game-header {
  position: absolute;
  top: 20%;
  width: 100%;
  background: rgb(222, 85, 132);
  background: radial-gradient(
    circle,
    rgba(222, 85, 132, 1) 0%,
    rgba(175, 0, 101, 1) 100%
  );
  /* background: rgb(175,0,101);
    background: radial-gradient(circle, rgba(175,0,101,1) 0%, rgba(222,85,132,1) 100%); */
  /* background: rgb(222,85,132);
    background: linear-gradient(135deg, rgba(222,85,132,1) 0%, rgba(175,0,101,1) 49%, rgba(222,85,132,1) 100%); */
  /* background: rgb(175,0,101);
    background: linear-gradient(0deg, rgba(175,0,101,1) 0%, rgba(222,85,132,1) 59%, rgba(175,0,101,1) 100%); */
  border-top: 12px solid rgba(000, 000, 000, 0.2);
  border-bottom: 12px solid rgba(000, 000, 000, 0.2);
  z-index: 3;
}

.game-header-info h2 {
  color: #191a20;
  font-weight: 700;
}

.game-header-info p {
  color: #191a20;
  font-weight: 700;
}

/* PLAYING GAME */

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

#game #game-container,
#game #tiles {
  position: absolute;
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  z-index: 2;
}

.score {
  width: 100%;
  max-width: 600px;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  z-index: 5;
}

.score p {
  display: none;
  font-size: 40px;
  width: auto;
  color: rgb(255, 0, 85);
  z-index: 5;
}

#game #game-container .line {
  width: 25%;
  border-right: solid 2px #191a20;
  border-left: solid 2px #191a20;
}

/* #game #game-container #line4{
    border-right: none;
} */

#game #tiles {
  display: block;
  overflow: hidden;
}

#game #tiles div {
  width: 25%;
  height: 30%;
  position: absolute;
  top: -30%;
  background: black;
  outline: none;
  cursor: pointer;
}

.move {
  transform: translateY(145vh);
  transition: transform linear 2s;
}

.speedX1 {
  transition: transform linear 1.5s;
}

.speedX2 {
  transition: transform linear 1.25s;
}

.speedX3 {
  transition: transform linear 1s;
}

.speedX4 {
  transition: transform linear 0.75s;
}

.buttons button {
  margin: 0 10px;
  width: auto;
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}


.start-bttn{
  background-color: rgba(175, 0, 101, 0.6);
  border: 1px solid #000;
}

.start-bttn:hover{
  background-color: #fff;
  color: rgba(175, 0, 101, 1);
}



